#searchBar {
    background-image: url('searchIcon.png'); 
    background-size: 25px 25px;
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 50%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
    margin-top: 7px;
    margin-left: 2px;
  }
  
  li{
    position:relative;
    height: 50px;

}
li:hover {
  --bs-bg-opacity: 1;
  background: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity))!important;
  color: #ddd;
}


.alignSpan {
    position:absolute;
    right:50px;
    top: 14px;
}
.delete {
  position:absolute;
    right:150px;
    margin-top: -3.5px;
}

.refreshButton {
  background-color: DodgerBlue;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 50px;
}


.refreshButton:hover {
  background-color: RoyalBlue;
}

.addForm {
  width: 90%;
  margin-left: 2px;
  margin-top: 10px;
}

.submitButton {
  margin-left: 50%;
  margin-bottom: 5px;
}

.formBox {
  FONT-VARIANT: JIS83;
  padding: 1.5rem;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 43px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: .25rem;
  width: 45%;
  float: left;
}

.parentDiv {
  padding: 10px;
}

#allSpan {
  margin-left: 30px;
  text-decoration: 3px underline;
  font-weight: bold;
}
